* {
    margin: 0;
    padding: 0;
}
.App {
  height: 100vh;
  margin: 0 auto;
  display: grid;
  grid-template-areas:
  'h h'
  's m'
  'f f';
  grid-template-columns: 150px auto;
  grid-template-rows: max-content 1fr max-content;
  background-image: url("Imeges/water-35.gif");
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: -1px 0 25px #fff, 0 1px 25px #fff, 1px 0 25px #000, 0 -1px 25px #fff;
  border-right: #fff double 5px;
  border-left: #fff double 5px;
}
/* Large desktops and laptops */

@media (max-width: 960px) {
  .App {
    grid-template-areas:
  'h'
  's'
  'm'
  'f';
    grid-template-columns: 1fr;
    grid-template-rows: 75px 75px 1fr max-content;
  }
}
